@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;500&family=Poppins:ital,wght@0,200;0,300;1,100;1,200&display=swap');

@import 'navbar';
@import 'colors';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Kumbh Sans', sans-serif;
}
// hero section 
.hero{
    background: $light;
    .hero-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
        height: 90vh;
        width: 100%;
        padding-right: 24px;
        padding-left: 24px;
        z-index: 1;
        max-width: 1200px;
        @include tablet{
            grid-template-columns: 1fr;
            height: 100%;
        }
        &-left{
            line-height: 1.2;
            width: 100%;
            text-transform: capitalize;
            @include tablet{
                padding: 5rem 0;
            }
            @include mobile{
                line-height: 1.5;
            }
        }
        &-left h1{
            font-size: 3rem;
            color: $lime;
            line-height: 5rem;

            @include mobile {
                font-size: 1.5rem;
            }
        }
        &-left h2{
            font-size: 2rem;
            color: $dark;
            margin-left: 40px;
            line-height: 3rem;
            
            @include mobile {
                font-size: 2rem;
            }
        }
        &-left p{
            font-size: 1.3rem;
            text-transform: none;
            color: $dark;
            font-weight: 700;
            
            @include mobile {
                font-size: 1.5rem;
            }
        }
        .btn{
            color: white;
            padding: .5rem 2rem;
            background: $lime;
            margin-top: 2rem;
            margin-left: 5rem;
            border: none;
            border-radius: 5px;
            text-transform: capitalize;
            font-size: .9rem;
            cursor: pointer;
            outline: none;
            transition: all 0.4s ;
        }

    }
}

